<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">BrEnglish</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#">
                            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                            Profile
                        </a>
                    </li>
                    <li class="page-scroll">
                        <a href="#">
                            <i class="fa fa-laptop fa-2x" aria-hidden="true"></i>
                            Blog
                        </a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">
                            <i class="fa fa-bookmark fa-2x" aria-hidden="true"></i>
                            Vocabulary
                        </a>
                    </li>
                    {% if session.loged_in %}
                    <li class="page-scroll">
                        <a href="/logout">
                                <i class="fa fa-expeditedssl fa-2x" aria-hidden="true"></i>
                                logout
                            </a>
                    </li>
                    {% endif%}
                    {% if not session.loged_in %}
                    <li class="page-scroll">
                            <a href="/login_page">
                                <i class="fa fa-expeditedssl fa-2x" aria-hidden="true"></i>
                                log in
                            </a>
                        
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->       
    </nav>